.btn {
  border: solid 1px dodgerblue;
  background-color: white;
  height: 40px;
  padding: 0 20px;
  color: dodgerblue;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: dodgerblue;
    color: white;
  }
}
