:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}

#root {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
}
